/* START: Task 1 Styles */
#task1{
    display: flex;
    justify-content: center;
}
#task1 td{
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}
#green{
    word-break: break-all;
}
#task1 table {
    table-layout: fixed;
    width: 337px;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */

/* END: Task 2 Styles */




/* START: Task 3 Styles */

/* END: Task 3 Styles */
