/* START: Task 1 Styles */
body{
    box-sizing: border-box;
}
#task1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#task1 td{
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}
#task1 table {
    table-layout: fixed;
    width: 337px;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#notificationBad{
    border: 1px solid grey;
    color: white;
    width: 240px;
    background-color: rgb(252, 142, 161);
    padding: 7px 10px;
    margin-bottom: 10px;
}
#notificationGood{
    color: white;
    width: 240px;
    background-color: green;
    padding: 15px 10px;
    margin-bottom: 10px;
}
#task2{
    padding-left: calc(50% - 111px);
    margin-bottom: 40px;
}
#task2 input::placeholder {
    font: 8px sans-serif;
}
#task2 input{
    font: 16px sans-serif;
    outline: none;
    border: 1px solid black;
}
#task2 .fail{
    border: 0.5px solid red;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#scores{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
#court{
    width: 598px;
    height: 328px;
    border: 1px solid black;
    background-image: url(/assets/court2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#ball{
    width: 40px;
    height: 40px;
    background-image: url(/assets/ball.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}
#teamA{
    width: 15px;
    height: 15px;
    position: relative;
    top: 112px;
    left: 32px;
}
#teamB{
    width: 15px;
    height: 15px;
    position: relative;
    top: 97px;
    left: 551px;
}
.none{
    visibility: hidden;
}
.red{
    display: block;
    color:red;
}
.azure{
    display: block;
    color:blue;
}
/* END: Task 3 Styles */
